* {
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
    color: white;
}

main {
    flex: 1;
    padding: 0vw;
    background-color: rgba(0,0,0,1);
    overflow-x: hidden;
}

body {
    background: black;
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
}

header {
    position: fixed;
    width: 100vw;
    max-height: 7.5vh;
    margin: auto;
    padding: 20px 0px;
    transition: top 0.75s ease-in-out, background-color 0.75s ease-in-out;
    z-index: 2;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

ul {
    text-align: end;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.75);
    display: none;
}

table {
    background-color: rgba(0,0,0,0.75);
    padding: 25px 50px;
    width: 100vw;
    height: 100%;
    font-weight: bold;
}

td {
    padding: 25px 15px;
    font-size: 1rem;
    min-width: 25vw;
    border-bottom: 1px solid white;
}

button {
    background-color: rgba(0,0,0,0);
    color: white;
    padding: 10px 100px;
    border: solid white 3px;
    transition: 0.3s ease-in-out;
}