.feature, .detail, .image-container {
    background-color: black;
    position: relative;
    width: calc(95vw-50px);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.detail {
    justify-content: left;
}

.feature-container, .detail-container, .feature-article-container {
    margin: 0px 50px;
    text-align: center; 
    color:#d3d3d3;
    max-height: 25vh;
    max-width: 100%;
    position: absolute;
}

.detail-container {
    bottom: 20%;
    text-align: left;
}

#bg-img {
    width: auto;
    height: 100vh;
}

#feature-title, #detail-title {
    font-size: 5vw;
    margin: 0px;
}

.menuImage {
    max-height: 75%;
    max-width: 15vw;
}

.profileImage {
    right: 0px;
}

footer {
    color: white;
    padding: 0px 25px;
    max-width: 100%;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

td {
    padding: 25px 10px;
    border-bottom: 1px solid white;
}

.highlight {
    color: rgb(160, 160, 160);
}

.stat {
    padding: 30px 50px;
    text-align: center;
    background-color: rgba(0,0,0,1);
}

.stat-container {
    margin: 25px 0px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.stat-child {
    padding: 5px 15px;
}

.stat-child p {
    margin: 0px;
    font-size: 5vw;
}

.stat-child h4 {
    margin: 0px;
    font-size: 2.5vw;
}

.overview {
    position: relative;
    width: 100vw;
    
}

.overview-detail {
    position: sticky;
}

.overview-header {
    padding: 10vh 10vw 5vh 10vw;
}

.overview-h1 {
    text-align: left; 
    color:#d3d3d3;
    margin: 0;
    font-size: 5vw;
}

.overview-h3 {
    text-align: left; 
    color:#d3d3d3;
    margin: 0;
    font-size: 3vw;
}

.sec-span {
    color: rgb(145, 145, 145);
    font-style: italic;
} 

main h1, main h2, main h3, main h4, main h5, main h6, main p {
    text-transform: none;
    padding: 5px 10vw;
    line-height: 1.5;
}